$primary-color: #000 !default;
$secondary-color: #ffc709 !default;
$third-color: $primary-color !default;
$primary-font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !default;

$primary-bg-color: white;

$light-color: white;
